<form class='sign-up-form'>
	<div>
		<label for='email-login'>Email:</label>
		<input type='text' id='email-signup' />
	</div>
	<div>
		<label for='password-login'>Password:</label>
		<input type='password' id='password-signup' />
	</div>
	<div>
		<button type='submit' class='button is-primary'>Sign Up</button>
	</div>
</form>